:root {
    --main-bg-color: #0c0c0c;
    --magicolor: rgb(114, 0, 245) !important;
}

/* Colors */

.magicColor {
    color: var(--magicolor) !important;
}

/* Fonts */
@font-face {
    font-family: "pixel";
    src: url("./fonts/pixel.ttf");
}
 
body {
    background-color: var(--main-bg-color);
    font-family: "pixel";
}

/* Divs */
div.homepage {
    text-align: center;
}

div.btnBar {
    margin-top: 20px;
    margin-bottom: 50px;
}

/* Basic infos */
div.textZone {
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
}

p.title {
    color: yellow;
    font-size: 30px;
    font-weight: 600;  
}

p.text {
    color: orange;
    font-size: 20px;
    line-height: 25px;  
    margin-top: 0px;
    margin-bottom: 0px;
}


/* BOX */

div.box {
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
div.box p.title {
    font-size: 30px;
    font-weight: 600;        
    display: table;
    margin: -25px auto 25px auto;
    background-color: var(--main-bg-color);
    padding: 0 15px;
}
div.box p.text {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 30px;
}



/* BOX WHOAMI */

div.box.whoami {
    border: 2px solid orange;  
}
.box.whoami p.title {
    color: yellow;
}

.box.whoami p.text {
    color: orange;
}


/* BOX SOCIALS */

div.box.socials {
    border: 2px solid blue;
}

.box.socials p.title {
    color: rgb(0, 130, 252);
}

.box.socials p.text{
    color: blue;
}

/*  yuti logo  */

p.yutiLogo {
    text-align: right;
    color: red;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 0px
}


/* Hyperlinks */

a.button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: 3px underline red;
    padding: 7px;
    line-height:55px;
}

a.link {
    color: blueviolet;
    font-size: 20px; 
    text-decoration: solid;  
}

a.myLink {
    color: rgb(146, 146, 146);
    font-size: 20px; 
    text-decoration: none;
}


/* Image */

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

